.profile__edit-avatar {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	background: rgba(0, 0, 0, 0.8) url("../../../images/edit-avatar.svg") no-repeat center;
	border: none;
	cursor: pointer;
	outline: none;
	position: absolute;
	opacity: 0;
	margin-right: 30px;
	padding: 0;
	transition: .7s opacity linear;
}
.profile__edit-avatar:hover{
	opacity: 1;
}