.element__container{
	background-color: #fff;
	padding: 25px 20px 31px 21px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 0 0 10px 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}