.auth__input {
	width: 100%;
	display: flex;
	border: none;
	border-bottom: 1px solid #CCCCCC;
	background-color: unset;
	font-size: 14px;
	font-weight: normal;
	line-height: 17px;
	color: #CCCCCC;
	margin: 30px 0 0;
	padding: 1px 0 9px;
	outline: none;
}

.auth__input:first-of-type {
	margin-top:0;
}

@media (max-width: 767px) {
	.auth__input {
		max-width: 260px;
	}
}